$bg-color: #1f242d;
$text-color: #fff;
$main-color: #0ef;
$second-color:#551A8B;
$second-bg-color: #323946;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:monospace;
    scroll-behavior: smooth;
    text-decoration: none;
}

html {
    font-size: 65%;
    overflow-x: hidden;
}

body {
    background-color: $bg-color;
    color: $text-color;
}

section {
    min-height: 100vh;
    padding: 3.8rem 9% 2rem;
}

span {
    color: $main-color;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 2rem;
    background: $bg-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

    .logo {
        font-size: 2.5rem;
        color: $text-color;
        font-weight: 500;
        cursor: default;
    }
}

nav{
    background-color: $bg-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;

    a{
    color: var(--text-color);
    display: inline-block;
    font-size: 1rem;
    position: relative;
    padding: 0.6rem 1.5rem;
    transition: 0.5s;

        span {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-bottom: 2px solid $main-color;
            border-radius: 15px;
            transform: scale(0) translateY(10px);
            transition: 0.5s;
        }
    }

    a:hover{
        color:$main-color;

        span{
            transform: scale(1) translateY(0);
        }
    }
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    .home_img {
        img{
            width: 35vw;
            border-radius: 50%;
        }
    }

    .home_content {
        h3 {
            font-size: 2.5rem;
            font-weight: 700;
            padding-top: 1rem;
        }
        h1 {
            font-size: 4rem;
            font-weight: 700;
            line-height: 1.5;
            text-shadow: 3px 3px 3px $second-color;
        }
        p {
            font-size: 1.6rem;
            text-align: justify;
        }
    }

    .social_media {
        a {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 4rem;
            height: 4rem;
            background: transparent;
            border: 0.2rem solid $main-color;
            border-radius: 50%;
            font-size: 2rem;
            color: $main-color;
            margin: 2rem 1.5rem 2rem 0;
            transition: 0.5s ease;

            &:hover {
                background: $main-color;
                color: $second-bg-color;
                box-shadow: 0 0 1rem $main-color;
            }
        }
    }

    .btn {
        display: inline-block;
        padding: 1rem 2.8rem;
        background: $main-color;
        border-radius: 4rem;
        box-shadow: 0 0 1rem $main-color;
        font-size: 1.6rem;
        color: $second-bg-color;
        letter-spacing: 0.1rem;
        font-weight: 600;
        transition: 0.3s ease;

        &:hover {
            box-shadow: none;
        }
    }
}

.about {
    background-color: $second-bg-color;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
.heading {
    margin-top: 0.5rem;
    text-align: center;
    font-size: 4rem;
    text-shadow: 3px 3px 3px $second-color
}
.about_content{
    h2 {
        text-align: left;
        line-height: 1.2;
    }
    h3 {
        font-size: 2.6rem;
        padding-top: 1rem;
    }
    p {
        font-size: 1.6rem;
        margin: 2rem 0 3rem;
        text-align: justify;
    }
}
.text {
    h2 {
        font-size: 2.6rem;
        writing-mode: vertical-lr;
        text-orientation: upright;
        font-size: 4.5rem;
        text-shadow: 3px 3px 3px $second-color
    }
}
.skills {
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4rem;
        height: 4rem;
        background: transparent;
        border: 0.2rem solid $main-color;
        border-radius: 50%;
        font-size: 2rem;
        color: $main-color;
        margin: 1rem 0 1rem 0;
        transition: 0.5s ease;

        &:hover{
            background: $main-color;
            color: $second-bg-color;
            box-shadow: 0 0 1rem $main-color;
        }
    }
    img {
        width: 3.5rem;
        height: 3.5rem;
    }
}

.projects {
    h2 {
        margin-bottom: 2rem;
    }
    .projects_container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        gap: 2rem;
        .projects_box {
            position: relative;
            border-radius: 2rem;
            box-shadow: 0 0 1rem $second-bg-color;
            overflow: hidden;
            display: flex;
            video {
                width: 100%;
                transition: 0.5s ease;
            }
            &:hover video {
                transform: scale(1.1);
            }
            .project_layer {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(rgba(0, 0, 0, 0.1), $main-color);
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                text-align: center;
                padding: 0 4rem;
                transform: translateY(100%);
                transition: 0.5s ease;
                h4 {
                    padding-bottom: 7rem;
                    font-size: 1rem;
                }
                p {
                    font-size: 1.6rem;
                    margin:  0.3rem 0 1rem;
                }
            }
            &:hover .project_layer{
                transform: translateY(70%);
            }
        }
    }
}

.work {
    background-color: $second-bg-color;

    h2 {
        margin-bottom: 1rem;
    }
    .work_container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        .work_box {
            margin-top: 2rem;
            box-shadow: 0 0 1rem $bg-color;
            background: $bg-color;
            padding: 2rem 2rem 2rem;
            border-radius: 2rem;
            text-align: center;
            border: 0.2rem solid $second-bg-color;
            transition: 0.5s ease;

            &:hover {
                border-color: $main-color;
                transform: scale(1.02);
            }
            img {
                width: 10rem;
                height: 10rem;
                border-radius: 2rem;
                margin: 1rem 0;
                border: 0.2rem solid $second-bg-color;
                box-shadow: 0 0 1rem $second-bg-color;
            }
            p {
                font-size: 1rem;
            }
        }
    }
}

.contact {
    form{
        max-width: 50rem;
        margin: 1rem auto;
        text-align: center;
        margin-bottom: 3rem;
        .input_box {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        input,
        textarea {
            width: 100%;
            padding: 1.5rem;
            font-size: 1.6rem;
            color: $text-color;
            background-color: $second-bg-color;
            border-radius: 0.9rem;
            margin: 0.5rem 0;
        }
        input {
            width: 49%;
        }
        textarea {
            resize: none;
            height: 50%;
        }
        .btn {
            display: inline-block;
            padding: 1rem 2rem;
            background: $main-color;
            border-radius: 4rem;
            box-shadow: 0 0 1rem $main-color;
            font-size: 1.6rem;
            color: $second-bg-color;
            letter-spacing: 0.1rem;
            font-weight: 600;
            transition: 0.3s ease;
            margin-top: 0.5rem;
            cursor: pointer;
            &:hover {
                box-shadow: none;
            }
        }
    }
}

@media only screen and (max-width: 480px){
.header{
    nav {
        a {
            padding: 0.7rem;
            font-size: 0.8rem;
        }
    }
    .logo {
        font-size: 1.5rem;
    }
}
.home{
    .home_content {
        h3 {
            font-size: 1.5rem;
        }
        h1 {
            font-size: 2rem;
        }
        p {
            font-size: 1rem;
        }
    }
    .social_media {
        a {
            width: 2rem;
            height: 2rem;
            font-size: 1rem;
        }
    }
    .btn {
        padding: 1em 2.8rem;
        font-size: 1em;
    }
}

.heading {
    margin-top: 1rem;
    font-size: 2rem;
}
.about{
    .about_content {
        h3 {
            font-size: 1.5rem;
        }
        p {
            font-size: 1rem;
            margin: 1rem 0 3rem;
        }
    }
    .text h2 {
        font-size: 3rem;
    }
    .skills {
        a{
            img {
                width: 2rem;
                height: 2rem;
                font-size: 1rem;
            }
        }
    }
}
.projects{
    .projects_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
.work{
    .work_container{
        .work_box {
            img {
                width: 7rem;
                height: 7rem;
            }
        }
    }
}
    .contact {
        form {
            max-width: 30rem;
        textarea {
            font-size: 1.2rem;
        }
        .input_box {
            input {
                font-size: 1.2rem;
            }
        }
        .btn {
            padding: 1rem 2.8rem;
            font-size: 1rem;
        }
        }
    }
}